body {
    background: rgb(41, 143, 109);
}

hr{
    color: rgb(36, 35, 36);
    background-color: rgb(36, 35, 36);
    height: 2px;
    border: none;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}

header{
    background: rgb(5, 182, 173);
    text-align: center;
    font-size: 30px;
    line-height: 100px;
}

h2 {
    color: rgb(36, 35, 36);
    text-align: center;
    font-size: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}

h3{
    color: rgb(36, 35, 36);
    text-align: center;
    font-size: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}

#Container{
    width: 70%;
    margin: 0px auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(12, 12, 12);
}

ul{
    font-size: 10px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;

}

li{
    color: rgb(20, 20, 20);
    font-size: 20px;
    text-align: justify; /* Justifica el texto */
    line-height: 1.6; /* Espaciado entre líneas */
    margin: 10px 0;
}

p{
    color: rgb(97, 3, 3);
    font-size: 20px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}

@keyframes animarBorde {
    0% { border-color: rgb(125, 248, 131); }
    25% { border-color: rgb(67, 248, 82); }
    50% { border-color: rgb(4, 252, 4); }
    75% { border-color: rgb(8, 212, 25); }
    100% { border-color: rgb(5, 139, 5); }
}

img{
    width: 40%;
    height: 30%;
    border: 2px solid rgb(15, 150, 116);
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: 5px 5px 5px rgb(12, 12, 12);
        /*animación*/
        width: 300px;
        height: 300px;
        border: 5px solid transparent;
        animation: animarBorde 2s infinite linear;
        padding: 10px;
}

